.fighterBoard {
  height: 90%;
  width: 45%;
  background: whitesmoke;
  border-radius: 20px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
}

.fighterTitleBox{
  height: 15%;
  width: 100%;
  background: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fighterBox{
  height: 85%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statBox{
  height:30%;
  width: 50%;
  background: black;
  border-radius: 15px;
}